.Circlecontainer {
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin: 0;
  position: absolute;
  z-index: 3;
  top: 656px;
  left: 324px;
}

.item {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  z-index: 4;
}
.item2 {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 4;
}