/*contenedor principal de la animación*/
.Circlecontainer {
  width: 4.875rem;
  height: 4.875rem;
  overflow: hidden;
  margin: 0;
  position: absolute;
  z-index: 3;
  top: 41rem;
  left: 20.25rem;
  padding: 0.9375rem;
}
.circle-itemContainer {
  width: 4.875rem;
  height: 4.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.item {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 0.9375rem;
  height: 0.9375rem;
  z-index: 4;
}
.item2 {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  z-index: 4;
}
