.FuImg-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-items: center;
  position: relative;
  /* animation: rotateImages 12s cubic-bezier(0.3, 1.3, 0.7, 1.3) infinite; */
  /* animation-delay: 0s, 4s, 8s, 12s; */
  background: black;
}
.Ellipse {
  grid-column: 1;
  grid-row: 2;
  /* animation: moveCenterEllipse 4s ease-in-out infinite; */
}
.Rectangle {
  grid-row: 1;
  grid-column: 1 / span 2;
  /* animation: moveCenterRectangle 4s ease-in-out infinite; */
}
.Polygon {
  grid-column: 2;
  grid-row: 2;
/*   -webkit-animation: moveCenterPolygon 4s ease-in-out infinite;
  animation: moveCenterPolygon 4s ease-in-out infinite; */
}

.FuImg-container img {
  /* animation: rotateImages 12s cubic-bezier(0.3, 1.3, 0.7, 1.3) infinite; */
  /* animation-delay: 0s, 4s, 8s, 12s; */
}
/*animaciones*/
/* @-webkit-keyframes moveCenterPolygon {
    0% {
      -webkit-transform: translate(-100%, -100%);
    }
    50% {
      -webkit-transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(-100%, -100%);
    }
  }
@keyframes moveCenterPolygon {
  0% {
    transform: translate(-100%, -100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, -100%);
  }
} */
/* @keyframes moveCenterRectangle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
} */
/* @keyframes moveCenterEllipse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
} */
/* @keyframes rotateImages {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 */
/* @keyframes rotateImages {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
