/*Fonts styles*/
.Aboutme-intro,
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf,
.Aboutme-subtitle,
.Aboutme-,
.Aboutme-contactTittle,
.Aboutme-contactMail {
  color: #3a3a39;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf,
.Aboutme-contactTittle {
  font-family: PP-Hatton;
  line-height: 0.9;
}
.Aboutme-contactMail {
  font-family: "PP-Hatton-Ultralight";
}
.Aboutme-introName,
.Aboutme-introGraphic {
  font-family: PP-Hatton-Ultralight;
  font-size: 3.125rem;
  font-weight: 200;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf {
  font-size: 6.25rem;
  font-weight: 700;
}
.Aboutme-number,
.Aboutme-number1,
.Aboutme-contactNumber {
  color: #e52421;
  font-family: Magilio;
  font-style: normal;
  font-weight: 400;
  /* line-height: normal; */
}
.Aboutme-number,
.Aboutme-number1 {
  font-size: 18.75rem;
}
.Aboutme-text {
  font-family: Montserrat-Light;
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-2 .Aboutme-2container .Aboutme-subtitle2 .Aboutme-text {
  font-family: Montserrat-Light;
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-subtitle2 {
  font-family: MontserratSemiboldItalic;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.4375rem;
}
.Aboutme-subtitle {
  font-family: MontserratBold;
  font-size: 1.25rem;
  line-height: normal;
  font-style: normal;
}

.Aboutme-text a {
  color: #3a3a39;
}
.Aboutme-3 .Aboutme-text {
  margin-bottom: 1.4375rem;
}
.Aboutme-contactTittle {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.325rem;
}
.Aboutme-contactNumber {
  font-size: 4.375rem;
}
.Aboutme-contactMail {
  font-size: 2.5rem;
  font-weight: 200;
}
/*Layout styles*/
.Aboutme-container {
  display: grid;
 margin-left: 13.3125rem;
}
/*presentación*/
.Aboutme-maininfo {
  display: grid;
  grid-template-rows: 3.94rem 17.875rem 3.94rem;
  grid-template-columns: 47.875rem auto;
}
.Aboutme-introName,
.Aboutme-name,
.Aboutme-introGraphic {
  grid-column: 1;
}
.Aboutme-introName {
  grid-row: 1;
}
.Aboutme-name {
  grid-row: 2;
  line-height: normal;
}
.Aboutme-introGraphic {
  grid-row: 3;
}
.Aboutme-maininfo-FVpic {
  grid-column: 2;
  grid-row: span 3;
  margin-left: 18.355rem;
  margin-top: -17.5rem;
}
.Aboutme-maininfoText {
  display: grid;
  height: 23.63rem;
}
/*1*/
.Aboutme-1 {
  display: grid;
  margin-top: 9rem;
  margin-bottom: 9rem;
  grid-template-rows: auto 7.875rem 8.5625rem;
  grid-template-columns: 4.875rem 74.25rem;
  height: 20.625rem;
  width: 100%;
}
.Aboutme-number1 {
  grid-row: span 3;
  grid-column: 1;
  align-self: baseline;
  z-index: 1;
}
.Aboutme-titleProf {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  margin-left: -1.875rem;
  z-index: 2;
}
.Aboutme-description {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-left: 11.3rem;
}
.Aboutme-subtitle {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
/*contenedor general de habilidades*/
.Aboutme-2356container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  height: 103.875rem;
  width: 98rem;
}
.Aboutme-3,
.Aboutme-6 {
  grid-row: 1;
  grid-column: span 2;
}
.Aboutme-2,
.Aboutme-5 {
  grid-row: 2;
  grid-column: span 2;
}
/*contact*/
.Aboutme-contact {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin-top: -5.5rem;
}
.Aboutme-contactNumber {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*contenedores individuales de habilidades*/
.Aboutme-3,
.Aboutme-6,
.Aboutme-2,
.Aboutme-5 {
  display: grid;
  grid-template-columns: 9.5625rem 48.17rem;
  grid-template-rows: 20.625rem auto;
}
.Aboutme-3 .Aboutme-number,
.Aboutme-3 .Aboutme-title,
.Aboutme-6 .Aboutme-number,
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-number,
.Aboutme-2 .Aboutme-title,
.Aboutme-5 .Aboutme-number,
.Aboutme-5 .Aboutme-title {
  grid-row: 1;
}
.Aboutme-3 .Aboutme-3container,
.Aboutme-5 .Aboutme-5container,
.Aboutme-2 .Aboutme-2container,
.Aboutme-6 .Aboutme-6container {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}
.Aboutme-number {
  z-index: 1;
  align-self: center;
}
.Aboutme-title {
  z-index: 2;
  align-self: center;
  margin-bottom: 2.5rem;
}
/*3*/
.Aboutme-3 .Aboutme-title {
  margin-left: -1.75rem;
  width: 33.1875rem;
}
.Aboutme-3container {
  margin-top: -3.5rem;
}
/*6*/
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-title {
  margin-left: -3rem;
  width: 33.1875rem;
}
.Aboutme-6 .Aboutme-6container .Aboutme-text {
  display: grid;
  grid-template-columns: 6.25rem auto;
  margin-bottom: 1.625rem;
  justify-content: start;
  align-items: center;
  justify-items: center;
  margin-left: 4.5rem;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon {
  grid-column: 1;
  margin-right: 1.3125rem;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon p {
  grid-column: 2;
}
.Aboutme-6container .Aboutme-text .figma {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*5*/
.Aboutme-5 {
  margin-top: -12rem;
}
.Aboutme-5 .Aboutme-title {
  margin-left: -3.3rem;
}
.Aboutme-5 .Aboutme-subtitle {
  margin-bottom: 1.75rem;
}
.Aboutme-5 .Aboutme-subtitle2 {
  margin-bottom: 0.8125rem;
}
/*2*/
.Aboutme-2 {
  margin-top: 9.5rem;
}
.Aboutme-2 .Aboutme-title {
  margin-bottom: 3.2rem;
}
.Aboutme-2 .Aboutme-subtitle {
  margin-bottom: 1.875rem;
  margin-top: -2rem;
}
