/*Fonts styles*/
.Aboutme-intro,
.Aboutme-name,
.Aboutme-titleProf,
.Aboutme-subtitle,
.Aboutme-,
.Aboutme-contactTittle,
.Aboutme-contactMail {
  color: #3a3a39;
}
.Aboutme-title {
  color: #3a3a39ec;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf,
.Aboutme-contactTittle {
  font-family: PP-Hatton;
  line-height: 0.9;
}
.Aboutme-contactMail {
  font-family: "PP-Hatton-Ultralight";
}
.Aboutme-introName,
.Aboutme-introGraphic {
  font-family: PP-Hatton-Ultralight;
  font-size: 3.125rem;
  font-weight: 200;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf {
  font-size: 6.25rem;
  font-weight: 700;
}
.Aboutme-number,
.Aboutme-number1,
.Aboutme-contactNumber {
  color: #e52421;
  font-family: Magilio;
  font-style: normal;
  font-weight: 400;
}
.Aboutme-number,
.Aboutme-number1 {
  font-size: 18.75rem;
}
.Aboutme-text {
  font-family: Montserrat-Light;
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-2 .Aboutme-2container .Aboutme-subtitle2 .Aboutme-text {
  font-family: Montserrat-Light;
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-subtitle2 {
  font-family: MontserratSemiboldItalic;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.4375rem;
}
.Aboutme-subtitle {
  font-family: MontserratBold;
  font-size: 1.25rem;
  line-height: normal;
  font-style: normal;
}

.Aboutme-text a {
  color: #3a3a39;
}
.Aboutme-3 .Aboutme-text {
  margin-bottom: 1.4375rem;
}
.Aboutme-contactTittle {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.325rem;
}
.Aboutme-contactNumber {
  font-size: 4.375rem;
}
.Aboutme-contactMail {
  font-size: 2.5rem;
  font-weight: 200;
}
/*Layout styles*/
/*contenedor general*/
.Aboutme-Maincontainer {
  max-width: 1920px;
  position: relative;
  margin-bottom: 12rem;
  display: flex;
  justify-content: center;
}
/*imgBG*/
.About2BG {
  z-index: 1;
  margin-top: 75rem;
  position: absolute;
}
.AboutBG {
  z-index: 1;
  position: absolute;
  top: -20rem;
  right: 0;
}
.Aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: calc((100% - 95%) / 2 + 2.5%);
  margin-right: calc((100% - 95%) / 2 + 2.5%);
}
/*presentación*/
.Aboutme-maininfo {
  display: grid;
  grid-template-rows: 3.94rem 17.875rem 3.94rem;
  grid-template-columns: 55% 27.8%;
  column-gap: 17.2%;
  justify-items: center;
  justify-content: center;
  align-self: center;
  width: 81.67%;
}
.Aboutme-introName,
.Aboutme-name,
.Aboutme-introGraphic {
  grid-column: 1;
}
.Aboutme-introName {
  grid-row: 1;
}
.Aboutme-name {
  grid-row: 2;
  line-height: normal;
}
.Aboutme-introGraphic {
  grid-row: 3;
}
.Aboutme-maininfo-FVpic {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  z-index: 2;
  width: 100%;
}
.Aboutme-maininfoText {
  display: grid;
  height: 23.63rem;
  justify-content: flex-start;
  width: 100%;
}
/*Contenedor de habilidades*/
.About1a6-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: calc((100% - 95%) / 2 + 2.5%);
  margin-right: calc((100% - 95%) / 2 + 2.5%);
  align-self: center;
}
/*1*/
.Aboutme-1 {
  display: grid;
  margin-top: 9rem;
  margin-bottom: 9rem;
  grid-template-rows: auto 7.875rem 8.5625rem;
  grid-template-columns: 4.875rem 1fr;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
}
.Aboutme-number1 {
  grid-row: span 3;
  grid-column: 1;
  align-self: baseline;
  z-index: 1;
  justify-self: center;
  width: 90%;
}
.Aboutme-titleProf {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  margin-left: -1.875rem;
  z-index: 2;
}
.Aboutme-description {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-left: 11.3rem;
  width: 85.5%;
}
.Aboutme-subtitle {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
/*contenedor general de habilidades*/
.Aboutme-2356container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 42.1% 44.7%;
  justify-content: center;
  column-gap: 13.2%;
  row-gap: 8.125rem;
  margin-top: 5rem;
  align-items: flex-start;
}
.Aboutme-3,
.Aboutme-6 {
  grid-row: 1;
}
.Aboutme-2,
.Aboutme-5 {
  grid-row: 2;
}
.Aboutme-3,
.Aboutme-5 {
  grid-column: 1;
}
.Aboutme-2,
.Aboutme-6 {
  grid-column: 2;
}
/*contact*/
.Aboutme-contact {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  margin-top: -5.5rem;
}
.Aboutme-contactNumber {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*contenedores individuales de habilidades*/
.Aboutme-3,
.Aboutme-6,
.Aboutme-2,
.Aboutme-5 {
  display: grid;
  grid-template-columns: 9.5625rem 1fr;
  grid-template-rows: 20.625rem auto;
}
.Aboutme-3 .Aboutme-number,
.Aboutme-3 .Aboutme-title,
.Aboutme-6 .Aboutme-number,
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-number,
.Aboutme-2 .Aboutme-title,
.Aboutme-5 .Aboutme-number,
.Aboutme-5 .Aboutme-title {
  grid-row: 1;
}
.Aboutme-3 .Aboutme-3container,
.Aboutme-5 .Aboutme-5container,
.Aboutme-2 .Aboutme-2container,
.Aboutme-6 .Aboutme-6container {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}
.Aboutme-number {
  z-index: 1;
  align-self: center;
}
.Aboutme-title {
  z-index: 2;
  align-self: center;
  margin-bottom: 2.5rem;
}
/*3*/
.Aboutme-3 .Aboutme-title {
  margin-left: -1.75rem;
  width: 33.1875rem;
}
.Aboutme-3container {
  margin-top: -3.5rem;
}
/*6*/
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-title {
  margin-left: -3rem;
  width: 33.1875rem;
}
.Aboutme-6 .Aboutme-6container .Aboutme-text {
  display: grid;
  grid-template-columns: 6.25rem auto;
  margin-bottom: 1.625rem;
  justify-content: start;
  align-items: center;
  justify-items: center;
  margin-left: 4.5rem;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon,
.Aboutme-abilitieIconF {
  grid-column: 1;
  margin-right: 1.3125rem;
}
.Aboutme-abilitieIcon {
  width: 70%;
}
.Aboutme-abilitieIconF {
  width: 35%;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon span,
.Aboutme-abilitieIconF span {
  grid-column: 2;
}
.Aboutme-6container .Aboutme-text .figma {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*5*/
.Aboutme-5 {
  margin-top: -15rem;
}
.Aboutme-5 .Aboutme-title {
  margin-left: -3.3rem;
}
.Aboutme-5 .Aboutme-subtitle {
  margin-bottom: 1.75rem;
}
.Aboutme-5 .Aboutme-subtitle2 {
  margin-bottom: 0.8125rem;
}
/*2*/
.Aboutme-2 {
  margin-top: 9.5rem;
}
.Aboutme-2 .Aboutme-title {
  margin-bottom: 3.2rem;
}
.Aboutme-2 .Aboutme-subtitle {
  margin-bottom: 1.875rem;
  margin-top: -2rem;
}
/*medias querys*/
@media screen and (width <= 320px) {
  .Aboutme-2356container {
    column-gap: 3.2%;
  }
  .Aboutme-3,
  .Aboutme-6,
  .Aboutme-2,
  .Aboutme-5 {
    grid-template-columns: 8.5625rem 1fr;
  }
}
@media screen and (320px <= width <=425px) {
  .Aboutme-title {
    font-size: 5rem;
  }
  .Aboutme-number {
    font-size: 16rem;
  }
  .AboutBG {
    width: 32%;
  }
  .About2BG {
    width: 58%;
  }
}
@media screen and (425px < width <= 1200px) {
  .About2BG,
  .AboutBG {
    width: 32%;
  }
}
@media screen and (1200px < width <= 1440px) {
  .About2BG,
  .AboutBG {
    width: 38%;
  }
  .Aboutme-maininfo {
    grid-template-columns: 65% 27.8%;
  }
  .Aboutme-2356container {
    column-gap: 10.2%;
  }
  .Aboutme-3,
  .Aboutme-6,
  .Aboutme-2,
  .Aboutme-5 {
    grid-template-columns: 8.5625rem 1fr;
  }
  .Aboutme-title {
    font-size: 5rem;
  }
  .Aboutme-number {
    font-size: 16rem;
  }
}
