/*Fonts styles*/
.Aboutme-intro,
.Aboutme-name,
.Aboutme-titleProf,
.Aboutme-subtitle,
.Aboutme-,
.Aboutme-contactTittle,
.Aboutme-contactMail {
  color: #3a3a39;
}
.Aboutme-title {
  color: #3a3a39ec;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf,
.Aboutme-contactTittle {
  font-family: "PP-Hatton";
  line-height: 0.9;
}
.Aboutme-contactMail {
  font-family: "PP-Hatton-Ultralight";
}
.Aboutme-introName,
.Aboutme-introGraphic {
  font-family: "PP-Hatton-Ultralight";
  font-size: 0.64em;
}
.Aboutme-name,
.Aboutme-title,
.Aboutme-titleProf {
  font-size: 1.4em;
  font-weight: 700;
}
.Aboutme-number,
.Aboutme-number1,
.Aboutme-contactNumber {
  color: #e52421;
  font-family: "Magilio";
  font-style: normal;
  font-weight: 400;
}
.Aboutme-number,
.Aboutme-number1 {
  font-size: 18.75rem;
}
.Aboutme-text {
  font-family: "Montserrat-Light";
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-2 .Aboutme-2container .Aboutme-subtitle2 .Aboutme-text {
  font-family: "Montserrat-Light";
  font-size: 1.25rem;
  line-height: 1.4;
}
.Aboutme-subtitle2 {
  font-family: "MontserratSemiboldItalic";
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 2%;
}
.Aboutme-subtitle {
  font-family: "MontserratBold";
  font-size: 1.25rem;
  line-height: normal;
  font-style: normal;
}

.Aboutme-text a {
  color: #3a3a39;
}
.Aboutme-3 .Aboutme-text {
  margin-bottom: 1.4375rem;
}
.Aboutme-contactTittle {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.325rem;
}
.Aboutme-contactNumber {
  font-size: 4.375rem;
}
.Aboutme-contactMail {
  font-size: 2.5rem;
  font-weight: 200;
}
/*Layout styles*/
/*contenedor general*/
.Aboutme-Maincontainer {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin-bottom: 19%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
/*imgBG*/
.About2BG {
  z-index: 1;
  margin-top: 70%;
  left: 0;
  position: absolute;
  width: 52%;
}
.AboutBG {
  z-index: 1;
  position: absolute;
  top: -8%;
  right: 0;
  width: 39%;
}
.Aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81.6%;
  height: auto;
}
/*presentación*/
.Aboutme-maininfo {
  display: grid;
  grid-template-rows: 17% 68% 17%;
  grid-template-columns: 49% 27.8%;
  column-gap: 16%;
  justify-content: center;
}
.Aboutme-introName,
.Aboutme-name,
.Aboutme-introGraphic {
  grid-column: 1;
}
.Aboutme-introName {
  grid-row: 1;
}
.Aboutme-name {
  grid-row: 2;
  line-height: normal;
}
.Aboutme-introGraphic {
  grid-row: 3;
}
.Aboutme-maininfo-FVpic {
  grid-column: 2;
  grid-row: 1 / span 3;
  z-index: 2;
  margin-top: 5%;
  width: 105%;
}
.Aboutme-maininfoText {
  /*   display: grid;
  justify-content: flex-start; */
  width: 100%;
}
/*Contenedor de habilidades*/
.About1a6-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 5%;
  height: auto;
}
/*1*/
.Aboutme-1 {
  display: grid;
  grid-template-rows: 25% 20% 60%;
  grid-template-columns: 7.5% 1fr;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
}
.Aboutme-number1 {
  grid-row: span 3;
  grid-column: 1;
  align-self: baseline;
  z-index: 1;
  justify-self: center;
}
.Aboutme-titleProf {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  margin-left: -4%;
  z-index: 2;
}
.Aboutme-description {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 15%;
}
.Aboutme-description .Aboutme-subtitle {
  margin-top: 2%;
  margin-bottom: 2%;
}
.Aboutme-subtitle {
  margin-bottom: 4%;
}
/*contenedor general de habilidades*/
.Aboutme-2356container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  justify-content: center;
  /* column-gap: 13.2%; */
  row-gap: 8%;
  margin-top: 10%;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.Aboutme-3,
.Aboutme-6 {
  grid-row: 1;
}
.Aboutme-2,
.Aboutme-5 {
  grid-row: 2;
}
.Aboutme-3,
.Aboutme-5 {
  grid-column: 1;
  width: 100%;
}
.Aboutme-2,
.Aboutme-6 {
  grid-column: 2;
  width: 100%;
}
/*contact*/
.Aboutme-contact {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  margin-top: -15%;
}
.Aboutme-contactNumber {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
/*contenedores individuales de habilidades*/
.Aboutme-3,
.Aboutme-6,
.Aboutme-2,
.Aboutme-5 {
  display: grid;
  grid-template-columns: 28% 1fr;
  grid-template-rows: auto auto;
}
.Aboutme-3 .Aboutme-number,
.Aboutme-3 .Aboutme-title,
.Aboutme-6 .Aboutme-number,
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-number,
.Aboutme-2 .Aboutme-title,
.Aboutme-5 .Aboutme-number,
.Aboutme-5 .Aboutme-title {
  grid-row: 1;
}
.Aboutme-3 .Aboutme-3container,
.Aboutme-5 .Aboutme-5container,
.Aboutme-2 .Aboutme-2container,
.Aboutme-6 .Aboutme-6container {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
  height: auto;
}
.Aboutme-number {
  z-index: 1;
  align-self: center;
}
.Aboutme-title {
  z-index: 2;
  align-self: center;
  overflow-wrap: break-word;
  margin-bottom: 9.5%;
}
/*3*/
.Aboutme-3 .Aboutme-title {
  margin-left: -16%;
}

/*6*/
.Aboutme-6 .Aboutme-title {
  max-width: 84%;
}
.Aboutme-6 .Aboutme-title,
.Aboutme-2 .Aboutme-title {
  margin-left: -19.5%;
}
.Aboutme-6 .Aboutme-6container .Aboutme-text {
  display: grid;
  grid-template-columns: 20% auto;
  margin-bottom: 3%;
  justify-content: start;
  align-items: center;
  justify-items: center;
  margin-left: 4%;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon,
.Aboutme-abilitieIconF {
  grid-column: 1;
  margin-right: 1.3125rem;
}
.Aboutme-abilitieIcon {
  width: 70%;
}
.Aboutme-abilitieIconF {
  width: 35%;
}
.Aboutme-6container .Aboutme-text .Aboutme-abilitieIcon span,
.Aboutme-abilitieIconF span {
  grid-column: 2;
}
.Aboutme-6container .Aboutme-text .figma {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*5*/
.Aboutme-5 {
  margin-top: -15rem;
}
.Aboutme-5 .Aboutme-title {
  margin-left: -19.5%;
}
.Aboutme-5 .Aboutme-subtitle {
  margin-bottom: 1.75rem;
}
.Aboutme-5 .Aboutme-subtitle2 {
  margin-bottom: 0.8125rem;
}

/*medias querys*/
@media screen and (width <= 320px) {
  .Aboutme-2356container {
    column-gap: 3.2%;
  }
  .Aboutme-name {
    font-size: 1.13em;
  }
  .Aboutme-introGraphic,
  .Aboutme-introName {
    font-size: 0.53em;
  }
  .Aboutme-number1,
  .Aboutme-number {
    font-size: 3.13em;
  }
  .Aboutme-titleProf,
  .Aboutme-title {
    font-size: 1em;
  }
  .Aboutme-contactTittle {
    font-size: 0.84em;
  }
  .Aboutme-contactNumber {
    font-size: 0.8em;
  }
  .Aboutme-contactMail {
    font-size: 0.5em;
  }
}
@media screen and (width <=375px) {
  .Aboutme-2356container {
    column-gap: 13.2%;
  }
}
@media screen and (375px <= width <= 425px) {
  .Aboutme-number,
  .Aboutme-number1 {
    font-size: 15.75rem;
  }
  .Aboutme-contactTittle {
    font-size: 1.2em;
  }
  .Aboutme-contactNumber {
    font-size: 1.2em;
  }
  .Aboutme-contactMail {
    font-size: 0.75em;
  }
}
@media screen and (425px <= width <= 768px) {
  .Aboutme-contactTittle {
    font-size: 1.3em;
  }
  .Aboutme-number,
  .Aboutme-number1 {
    font-size: 15.75rem;
  }
  .Aboutme-titleProf,
  .Aboutme-title {
    font-size: 1.5em;
  }
}
@media screen and (768px <= width <= 1024px) {
  .Aboutme-number,
  .Aboutme-number1 {
    font-size: 14.6rem;
  }
  .Aboutme-name,
  .Aboutme-title,
  .Aboutme-titleProf {
    font-size: 2.4em;
  }
  .Aboutme-introName,
  .Aboutme-introGraphic {
    font-size: 1.11em;
  }
  .Aboutme-contactTittle {
    font-size: 2.1em;
  }
  .Aboutme-contactNumber {
    font-size: 1.6em;
  }
  .Aboutme-abilitieIcon {
    width: 46.6%;
  }
  .Aboutme-abilitieIconF {
    width: 20%;
  }
  .Aboutme-contactMail {
    font-size: 0.9em;
  }
}
@media screen and (1024px <= width <= 1200px) {
  .Aboutme-name {
    font-size: 3.6em;
  }
  .Aboutme-introName,
  .Aboutme-introGraphic {
    font-size: 1.67em;
  }
  .Aboutme-number,
  .Aboutme-number1 {
    font-size: 16rem;
  }
  .Aboutme-title,
  .Aboutme-titleProf {
    font-size: 3.3em;
  }
  .Aboutme-contactTittle {
    font-size: 3em;
  }
  .Aboutme-contactNumber {
    font-size: 2.45em;
  }
  .Aboutme-contactMail {
    font-size: 1.4em;
  }
  .Aboutme-abilitieIcon {
    width: 46.6%;
  }
  .Aboutme-abilitieIconF {
    width: 20%;
  }
}
@media screen and (width > 1200px) {
  .Aboutme-name {
    font-size: 4.4em;
  }
  .Aboutme-introName,
  .Aboutme-introGraphic {
    font-size: 2.05em;
  }
  .Aboutme-title,
  .Aboutme-titleProf {
    font-size: 4em;
  }
  .Aboutme-number,
  .Aboutme-number1 {
    font-size: 12.1rem;
  }
  .Aboutme-description .Aboutme-subtitle {
    margin-top: 4%;
  }
  .Aboutme-5 {
    margin-top: -13rem;
  }
  .Aboutme-abilitieIcon {
    width: 46.6%;
  }
  .Aboutme-abilitieIconF {
    width: 20%;
  }
  .Aboutme-contactTittle {
    font-size: 3.6em;
  }
  .Aboutme-text {
    font-size: 1rem;
  }
  .Aboutme-contactNumber {
    font-size: 3em;
  }
  .Aboutme-contactMail {
    font-size: 1.7em;
  }
}
