* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
li,
a {
  text-decoration: none;
}
body {
  background-color: #f5f5f5;
  font-size: 16px;
}
.App-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.IndividualWork-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  background-color: #f8f4ef;
  background-blend-mode: overlay;
  background-image: url("../assets/img/Texture.png");
  z-index: 10;
}
.buttonUp-Container {
  position: fixed;
  bottom: 1.25rem;
  right: 7.1rem;
  z-index: 999;
  width: 10.35%;
} 
/*fuentes*/
@font-face {
  font-family: "Montserrat";
  src: url("../assets/Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../assets/Fonts/MontserratBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/Fonts/MontserratExtralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiboldItalic";
  src: url("../assets/Fonts/MontserratSemiboldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magilio";
  src: url("../assets/Fonts/MagilioRegular.ttf") format("truetype");
  src: url("../assets/Fonts/MagilioRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton";
  src: url("../assets/Fonts/PPHattonMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton-Ultralight";
  src: url("../assets/Fonts/PPHattonUltralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-HattonBold";
  src: url("../assets/Fonts/PPHattonBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FraktionSansLight";
  src: url("../assets/Fonts/FraktionSansLight.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*medias querys*/
@media screen and (width <= 425px ) {
  html {
    font-size: 4px;
  }
}
@media screen and (425px < width <= 576px) {
  html {
    font-size: 4.8px;
  }
}
@media screen and (576px < width <= 768px) {
  html {
    font-size: 6px;
  }
}
@media screen and (768px < width <= 1024px) {
  html {
    font-size: 8.5px;
  }
}
@media screen and (1024px < width <= 1200px) {
  html {
    font-size: 10px;
  }
}
