* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
li,
a {
  text-decoration: none;
}
body {
  background-color: #f8f4ef;
  font-size: 16px;
}
.App-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  transform: rotate(90deg);
  flex-shrink: 0;
  background-image: url('../assets/img/Texture.svg');
  mix-blend-mode: overlay;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
} */
/* .overalay svg {
  width: 100%;
  height: auto;
} */
/*fuentes*/
@font-face {
  font-family: "Montserrat";
  src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot");
  src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.svg#Montserrat")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Montserrat-Light";
  src: url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.eot");
  src: url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/029177df870cce2b384f0610a6e1f82a.svg#Montserrat Light")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family: "Magilio";
  src: url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.eot");
  src: url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.svg#Magilio")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton";
  src: url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.eot");
  src: url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.svg#PP Hatton")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "PP-Hatton-Ultralight";
  src: url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.eot");
  src: url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/25a746dc145d16d8684be3117e95b8eb.svg#PP Hatton Ultralight")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}