* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
li,
a {
  text-decoration: none;
}
body {
  background-color: #f8f4ef;
  font-size: 16px;
}
.App-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/*imagenes de fondo*/
.BackgroundHome {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/BG/HomeLeft.svg");
  background-position: top left;
  background-repeat: no-repeat;
}
.BackgroundAbout {
  background-image: url("../assets/img/BG/About2BG.svg");
  background-position: center left;
  background-repeat: no-repeat;
}

.BackgroundWork {
  position: relative;
  width: 100%;
  background-image: url("../assets/img/BG/WorkLeft.svg"),
    url("../assets/img/BG/WorkRightBG.svg"),
    url("../assets/img/BG/Line.svg");
  background-position: top left, top right, center bottom;
  background-repeat: no-repeat;
}
.BackgroundContact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/BG/bgContactderecho.svg"),
    url("../assets/img/BG/bgContactizq.svg"),
    url("../assets/img/BG/Line.svg");
  background-position: bottom right, top left, center top;
  background-repeat: no-repeat;
}
.IndividualWork-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  transform: rotate(90deg);
  flex-shrink: 0;
  background-image: url('../assets/img/Texture.svg');
  mix-blend-mode: overlay;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
} */
/* .overalay svg {
  width: 100%;
  height: auto;
} */
/*fuentes*/
@font-face {
  font-family: "Montserrat";
  src: url("../assets/Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../assets/Fonts/MontserratBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/Fonts/MontserratExtralight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiboldItalic";
  src: url("../assets/Fonts/MontserratSemiboldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magilio";
  src: url("../assets/Fonts/MagilioRegular.ttf") format("truetype");
  src: url("../assets/Fonts/MagilioRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton";
  src: url("../assets/Fonts/PPHattonMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton-Ultralight";
  src: url("../assets/Fonts/PPHattonUltralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-HattonBold";
  src: url("../assets/Fonts/PPHattonBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FraktionSansLight";
  src: url("../assets/Fonts/FraktionSansLight.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}