.Broke1 {
  grid-row: 1;
  grid-column: span 2;
  width: 100%;
}
.broke-column1,
.broke-column2 {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.broke-column1 {
  grid-column: 1;
  background-color: #222222;
  height: 97.4375rem;
  gap: 3rem;
}
.broke-column2 {
  grid-column: 2;
  height: 97.4375rem;
}
.Broke2 {
  margin-top: 3rem;
}
.Broke4 {
  width: 100%;
}
.Broke6 {
  margin-top: -1rem;
}
.Broke7 {
  margin-top: 1rem;
  width: 100%;
}
.Broke9 {
  grid-row: 3;
  grid-column: 1 / span 2;
  justify-self: center;
}
.Broke10 {
  grid-row: 4;
  grid-column: 1 / span 2;
  width: 100%;
}
.Brokecel1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: center;
  justify-self: flex-start;
  margin-left: -7rem;
  margin-top: -17rem;
}
/*imgBG*/
.BrokeBgL {
  position: absolute;
  z-index: 1;
  top: 35rem;
  left: 0;
}
.BrokeBgR {
  position: absolute;
  z-index: 1;
  top: 125rem;
  right: 0;
}
@media screen and (width <= 1200px) {
  .Broke2 {
    width: 52.8%;
  }
  .Broke3 {
    width: 66.6%;
  }
  .Broke5 {
    width: 60.6%;
  }
  .Broke6 {
    width: 115%;
    margin-right: -2rem;
  }
  .Broke8 {
    width: 80%;
  }
  .Broke9 {
    width: 75%;
  }
  .Brokecel1 {
    margin-left: -8rem;
    width: 46%;
  }
  .BrokeBgL,
  .BrokeBgR {
    width: 32.5%;
  }
}
