.Work-BrokeContainer  {
  background-image: url("../assets/img/BG/BrokeBgVectorR.svg");
  background-position: center right;
  background-repeat: no-repeat;
}
.Broke1 {
  grid-row: 1;
  grid-column: span 2;
  width: 100%;
}
.broke-column1,
.broke-column2 {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.broke-column1 {
  grid-column: 1;
  background-color: #222222;
  height: 97.4375rem;
  gap: 3rem;

}
.broke-column2 {
  grid-column: 2;
}
.Broke2 {
  margin-top: 7rem;
  width: 100%;
}
.Broke6 {
  margin-top: -1rem;
  width: 100%;
}
.Broke7 {
  margin-top: 1rem;
  width: 100%;
}
.Broke9 {
  grid-row: 3;
  grid-column: 1 / span 2;
  justify-self: center;
  width: 100%;
}
.Broke10 {
  grid-row: 4;
  grid-column: 1 / span 2;
  width: 100%;
}
.Brokecel1{
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: center;
  justify-self: flex-start;
  margin-left: -7rem;
  margin-top: -17rem;
  width: 100%;
}
/*imgBG*/
.BrokeBgL {
  position: absolute;
  z-index: 1;
  top: 35rem;
  left: 0;
}