
.Contact-container {
  width: 100%;
  height: 70.1875rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../assets/img/BG/bgContactderecho.svg"),
    url("../assets/img/BG/bgContactizq.svg"),
    url("../assets/img/BG/Line.svg");
  background-position: bottom right, top left, center top;
  background-repeat: no-repeat;
  position: relative;
}
.Contact-mainContainer {
  width: 72.8125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Contact-main {
  font-family: "PP-Hattonbold";
  color: #3a3a39;
  font-size: 9.25rem;
  line-height: 1;
  letter-spacing: -0.3125rem;
}
.Contact-number {
  font-family: "Magilio";
  font-size: 9.375rem;
  color: #e52421;
  font-weight: normal;
  margin-top: 1rem;
}
.Contact-mail {
  font-family: "PP-Hatton-Ultralight";
  color: #3a3a39;
  font-size: 6.25rem;
  margin-top: -1rem;
}
.Contact-LinkContainer {
  display: flex;
  gap: 3.5rem;
  align-items: flex-end;
  margin-top: 1.81rem;
  width: 100%;
}
.Contact-LinkContainer a {
  width: 4.9375rem;
}
.Contact-LinkContainer a img {
  width: 100%;
}
@media screen and (width <= 1024px) {
.Contact-container {
  background-size: 32.5%, 32.5%, 5%;
}
}