.Contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../assets/img/BG/bgContactderecho.svg"),
    /* url("../assets/img/BG/bgContactizq.svg"), */
      url("../assets/img/BG/Line.svg");
  background-position: bottom right, center top;
  background-repeat: no-repeat;
  background-size: 34%, 5%;
}
.contactBgleft {
  position: absolute;
  z-index: 1;
  margin-top: -5.3%;
  left: 0;
  width: 38%;
}
.Contact-mainContainer {
  width: 57%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 12%;
  z-index: 2;
}
.Contact-main {
  font-family: "PP-Hattonbold";
  color: #3a3a39;
  font-size: 5.8em;
  line-height: 1;
  letter-spacing: -0.3125rem;
}
.Contact-number {
  font-family: "Magilio";
  font-size: 6em;
  color: #e52421;
  font-weight: normal;
  margin-top: 1rem;
}
.Contact-mail {
  font-family: "PP-Hatton-Ultralight";
  color: #3a3a39;
  font-size: 4em;
  margin-top: -1rem;
}
.Contact-LinkContainer {
  display: flex;
  gap: 6%;
  align-items: flex-end;
  margin-top: 5%;
  width: 100%;
}
.Contact-LinkContainer a {
  width: 7.3%;
}
.Contact-LinkContainer a img {
  width: 100%;
}
/* @media screen and (width <= 320px) {
  .Contact-main {
    font-size: 1.5em;
  }
  .Contact-number {
    font-size: 1.6em;
  }
  .Contact-mail {
    font-size: 1em;
  }
} */
@media screen and (320px <= width <= 375px) {
  .Contact-main {
    font-size: 1.5em;
  }
  .Contact-number {
    font-size: 1.6em;
  }
  .Contact-mail {
    font-size: 1em;
  }
}
@media screen and (375px <= width <= 425px) {
  .Contact-main {
    font-size: 1.76em;
  }
  .Contact-number {
    font-size: 2em;
  }
  .Contact-mail {
    font-size: 1.3em;
  }
}
@media screen and (425px <= width <= 768px) {
  .Contact-main {
    font-size: 2em;
  }
  .Contact-number {
    font-size: 2.2em;
  }
  .Contact-mail {
    font-size: 1.4em;
  }
}
@media screen and (768px <= width <= 1024px) {
  .Contact-main {
    font-size: 3.5em;
  }
  .Contact-number {
    font-size: 3.8em;
  }
  .Contact-mail {
    font-size: 2.5em;
  }
}
@media screen and (1024px <= width <= 1200px) {
  .Contact-main {
    font-size: 4.7em;
  }
  .Contact-number {
    font-size: 5em;
  }
  .Contact-mail {
    font-size: 3.3em;
  }
}
