.Contact-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 12.5rem;
}
.Contact-mainContainer {
  /* width: 57%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Contact-main {
  font-family: "PP-Hatton";
  color: #3a3a39;
  font-size: 9.25rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.3125rem;
}
.Contact-number {
  font-family: "Magilio";
  font-size: 9.375rem;
  color: #e52421;
  font-weight: normal;
  margin-top: 1rem;
}
.Contact-mail {
  font-family: "PP-Hatton-Ultralight";
  color: #3a3a39;
  font-size: 6.25rem;
  margin-top: -1rem;
}
.Contact-LinkContainer {
  display: flex;
  gap: 3.5rem;
  align-items: flex-end;
  margin-top: 1.81rem;
}
