.Estudio1,
.Estudio4 {
  grid-column: span 2;
}
.Estudio1 {
  grid-row: 1;
}
.Estudio4 {
  grid-row: 3;
}
.Estudio2 {
  grid-row: 2;
  grid-column: 1;
}
.Estudio3,
.EstudioCel-animationContainer,
.Estudiopad1 {
  grid-row: 2;
  grid-column: 2;
}
.Estudio3 {
  justify-self: center;
}
.EstudioCel-animationContainer1,
.Estudiopad1 {
  z-index: 1;
}
.EstudioCel-animationContainer {
  align-self: start;
  margin-left: -3.6rem;
  margin-top: 1.4rem;
  position: relative;
  max-width: 130px;
  max-height: 258px;
  border-radius: 16.954px;
  border: 5.765px solid #222;
  background: #fff;
  box-shadow: -6.691px 6.691px 40.146px 0px rgba(0, 0, 0, 0.25);
}
.Estudiopad1 {
  align-self: center;
  justify-self: end;
  margin-right: -5.2rem;
  margin-bottom: 6rem;
}
.animated-imageContainer {
  z-index: 2;
  display: block;
  max-width: 100%;
  max-height: 100%;
  
}
/*animación*/
/* .animated-Estudioimage1,
.animated-Estudioimage2,
.animated-Estudioimage3,
.animated-Estudioimage4,
.animated-Estudioimage5,
.animated-Estudioimage6,
.animated-Estudioimage7 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
} */
.animated-Estudioimage {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}