.Estudio1,
.carroContainer {
  grid-column: span 2;
}
.Estudio1 {
  grid-row: 1;
}
.carroContainer {
  grid-row: 3;
  position: relative;
  height: 1000px;
}
.Estudio2 {
  grid-row: 2;
  grid-column: 1;
}
.Estudio3,
.EstudioCel-animationContainer,
.Estudiopad1 {
  grid-row: 2;
  grid-column: 2;
}
.Estudio3 {
  justify-self: center;
}
.EstudioCel-animationContainer1,
.Estudiopad1 {
  z-index: 1;
}
.EstudioCel-animationContainer {
  align-self: start;
  margin-left: -3.6rem;
  margin-top: 1.4rem;
  position: relative;
  width: 130px;
}
.Estudiopad1 {
  align-self: center;
  justify-self: end;
  margin-right: -5.2rem;
  margin-bottom: 6rem;
}
.carroContainer img {
  position: absolute;
}
.carroGif {
  z-index: 2;
  width: 1081px;
  height: auto;
}
.carroContainer .Belink-container {
  position: absolute;
  bottom: 0;
  right: 581px;
}
