.Frog1 {
  grid-column: span 2;
  grid-row: 1;
}
.Frog2 {
  grid-row: 2 / span 3;
  grid-column: 1;
}
.Frogcel1,
.Frogcel2 {
  grid-column: 1;
  z-index: 1;
}
.Frogcel1,
.FrogCelanimation-container {
  grid-row: 2;
}
.Frogcel2,
.Frogcel4 {
  grid-row: 3;
}
.FrogCelanimation-container,
.Frogcel4 {
  grid-column: 2;
  z-index: 1;
}
.Frog3,
.Frog4,
.Frog6 {
  grid-column: 2;
}
.Frog3 {
  grid-row: 2;
}
.Frog4 {
  grid-row: 3;
}
.Frog6 {
  grid-row: 4;
  margin-left: -5rem;
}
.Frog5 {
  grid-row: 5;
  grid-column: span 2;
}
.Frogcel1 {
  justify-self: end;
  align-self: start;
  margin-right: -4.5rem;
  margin-top: -3rem;
}
.Frogcel2 {
  justify-self: left;
  align-self: center;
  margin-left: -8.1rem;
}
.Frogcel4 {
  justify-self: end;
  align-self: flex-end;
  margin-right: -8rem;
  margin-bottom: -5.2rem;
}
.FrogCelanimation-container {
  position: relative;
  width: 7.5rem;
  height: 16.25rem;

  /* background: #fbf8f3; */
  justify-self: end;
  align-self: flex-end;
  margin-right: -6.1rem;
  margin-bottom: -4.8rem;
}
.image-animation {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
  border: 4px solid #222;
}
.Belink-container {
  align-self: flex-end;
  justify-self: end;
  z-index: 1;
  margin-right: -39.5rem;
  margin-top: -8rem;
}
/*animación*/ /* 
.FrogCelanimation-container .Frogcel3.active {
  animation: smartAnimate 1500ms ease-in-out;
}
.FrogCelanimation-container .Frogcel3V2.active {
  animation: smartAnimate 300ms ease-out;
}
.FrogCelanimation-container .Frogcel3V3.active {
  animation: smartAnimate 300ms ease-in;
}
.FrogCelanimation-container .Frogcel3V4.active {
  animation: dissolve 300ms ease-in;
}
.FrogCelanimation-container .Frogcel3V5.active {
  animation: smartAnimate 1500ms cubic-bezier(0.42, 0, 0.11, 0.99);
}
.FrogCelanimation-container .Frogcel3V6.active {
  animation: smartAnimate 300ms cubic-bezier(0.42, 0, 0.11, 0.99);
}
.FrogCelanimation-container .Frogcel3V7.active {
  animation: smartAnimate 1500ms cubic-bezier(0.42, 0, 0.11, 0.99);
}
.FrogCelanimation-container .Frogcel3V8.active {
  animation: dissolve 1500ms cubic-bezier(0.42, 0, 0.11, 0.99);
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes dissolve {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes smartAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
 */
