/*layout*/
.Home-container {
  position: relative;
  width: 100%;
  height: 48.375rem;
  margin-bottom: 8.75rem;
  display: flex;
  justify-content: center;
  background-image: url("../assets/img/BG/HomeLeft.svg");
  background-position: top left;
  background-repeat: no-repeat;
  justify-self: center;
}
.HomePF-Container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 6.25rem 56rem 6.25rem;
  justify-items: center;
  align-content: center;
  justify-content: space-around;
}
.redCircle {
  align-self: center;
  margin: 0 1em 1em 1em;
}
.redCircle:first-child {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  width: 100%;
}
.redCircle:last-child {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  width: 100%;
}
/*fonts styles*/
h2,
.year {
  font-family: "Magilio";
  font-size: 28rem;
  font-weight: normal;
  color: #e52421;
  line-height: 1;
  margin: 0;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-block-start: 0.13em;
  margin-block-end: 0;
  justify-self: center;
  align-self: center;
}
h1,
.portfolio {
  font-family: "PP-Hattonbold";
  font-size: 7rem;
  margin: 0;
  line-height: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 10;
  justify-self: center;
  align-self: center;
  color: #3a3a39ec;
}
.fv {
  font-family: "Montserrat";
  font-size: 0.94rem;
  font-weight: bold;
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  line-height: 10;
}
/*animaciones*/
.HomePF-Container:hover .portfolio {
  transform: translateY(7%);
}

.HomePF-Container:hover .year {
  transform: translateY(-7%);
}
.HomePF-Container:hover .redCircle {
  transform: translateY(-50%);
}
.portfolio,
.redCircle,
.year {
  transition: transform 2s cubic-bezier(0.21, 0.87, 0.35, 1);
}
/*media query*/
/* @media screen and (width <= 768px) {
  h1, .portfolio, h2, .year {
    font-size: 6px;
  }
} */