.Kp1,
.Kp6 {
  grid-column: span 2;
  width: 100%;
}
.Kp1 {
  grid-row: 1;
}
.Kp2,
.Kp4 {
  grid-row: 2;
}
.Kp2 {
  width: 125%;
}
.Kp4 {
  width: 122%;
  margin-left: 7rem;
}
.Kp2,
.Kp3 {
  grid-column: 1;
  justify-self: flex-end;
}
.Kp4,
.Kp5 {
  grid-column: 2;
}
.Kp3,
.Kp5 {
  grid-row: 3;
  width: 100%;
}
.Kp6 {
  grid-row: 4;
}
.Kp2,
.Kp4 {
  z-index: 1;
}
.Kp3 {
  margin-top: -17rem;
}
.Kp5 {
  margin-top: -10rem;
}
.Kp6 {
  margin-top: -20rem;
  justify-self: flex-end;
}
@media screen and (width <= 1200px) {
  .Kp2,
  .Kp3,
  .Kp4,
  .Kp5 {
    width: 124%;
  }
  .Kp4, .Kp5 {
    justify-self: left;
  }
  .Kp4 {
    margin-left: 0;
  }
}
