/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1.154;
    --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
    background: 
      var(--_g) 50%  0,
      var(--_g) 0    100%,
      var(--_g) 100% 100%;
    background-size: 35% calc(35%*1.154);
    animation: l16 1s infinite;
  }
  @keyframes l16{ 
      50%,100% {background-position: 100% 100%,50% 0,0 100%} 
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    height: 40px;
    --c:no-repeat linear-gradient(orange 0 0);
    background: var(--c),var(--c),var(--c),var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
   0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
   33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
   66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
   100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}