/*Fonts*/
.Logo-number {
  color: #e52421;
  font-family: "Magilio";
  font-size: 3.125rem;
  font-style: normal;
}
.Logo-text {
  color: #de211e;
  text-align: center;
  font-family: "MontserratBold";
  font-size: 0.9375rem;
}
/*Layout*/
.Work-LogofolioContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Logo-MainContainer {
  width: 56.67%;
  margin-top: 10%;
}
.Logo-container {
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/BG/Line.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 10%;
}
.LogoTitle-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  height: 2.3rem;
}
.Logo-imgtnw {
  width: 22%;
  margin-top: auto;
  margin-bottom: auto;
}
.Logo-imgch {
  width: 42%;
  margin-top: auto;
  margin-bottom: auto;
}
.Logo-imgps {
  width: 36.5%;
  margin-top: auto;
  margin-bottom: auto;
}
.Logo-imglha {
  width: 24.94%;
  margin-top: auto;
  margin-bottom: auto;
}
.Logo-imgr {
  width: 29.05%;
  margin-top: auto;
  margin-bottom: auto;
}
.Frame-container {
  width: 56.67%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  row-gap: 20%;
  align-items: center;
  justify-items: center;
  margin-top: 11.875rem;
  height: 14.5rem;
}
.Frame1,
.Frame2,
.Frame3,
.Frame4,
.Frame5,
.Frame6 {
  grid-row: 1;
  height: auto;
}
.Frame7,
.Frame8,
.Frame9,
.Frame10,
.Frame11,
.Frame12 {
  grid-row: 2;
  height: auto;
}
.Frame1,
.Frame7 {
  grid-column: 1;
}
.Frame2,
.Frame8 {
  grid-column: 2;
}
.Frame3,
.Frame9 {
  grid-column: 3;
}
.Frame4,
.Frame10 {
  grid-column: 4;
}
.Frame5,
.Frame11 {
  grid-column: 5;
}
.Frame6,
.Frame12 {
  grid-column: 6;
}
.Frame1 {
  width: 66.5%;
}
.Frame2 {
  width: 73.1%;
}
.Frame4 {
  width: 63.1%;
}
.Frame5 {
  width: 49.9%;
}
.Frame6 {
  width: 78.1%;
}
.Frame7 {
  width: 76.2%;
}
.Frame3,
.Frame8,
.Frame11 {
  width: 59.8%;
}
.Frame9 {
  width: 79.5%;
}
.Frame10 {
  width: 56.5%;
}
.Frame12 {
  width: 49.8%;
}
@media screen and (width <= 425px) {
  .Logo-text {
    font-size: 1.2rem;
  }
}
@media screen and (425px < width <= 1200px) {
  .Logo-container {
    background-size: 10%;
  }
  .Logo-text {
    font-size: 1.2rem;
  }
}
