.Misc-sectionTitle {
  color: #de211e;
  text-align: center;
  font-family: "MontserratBold";
  font-size: 0.9375rem;
  text-align: right;
  margin-bottom: 1.25rem;
}
.Misc-MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67.5625rem;
  height: 394.375rem;
  justify-content: space-around;
  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: 2;
}
.section1-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  row-gap: 2.9375rem;
  column-gap: 8.5625rem;
  width: 100%;
}
.Misc1 {
  grid-row: 1;
  grid-column: span 2;
  z-index: 2;
  width: 100%;
}
.Misc2,
.Misc3 {
  grid-column: 1;
  width: 100%;
}
.Misc4,
.Misc5 {
  grid-column: 2;
  width: 100%;
}
.Misc2,
.Misc4 {
  grid-row: 2;
}
.Misc3,
.Misc5 {
  grid-row: 3;
}
.Misc-section2 {
  width: 100%;
}
.Misc-subContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
  width: 100%;
}
.Misc {
  width: 100%;
}
.Miscsc {
  width: 48%;
}
.Misc14 {
  margin-top: 3.125rem;
  width: 100%;
}
/*imgBG*/
.MiscBgR-container, .MiscBgL-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 385rem;
  margin-top: 38rem;
}
.MiscBgR-container {
  right: 0;
  align-items: flex-end;
  justify-content: space-between;
}
.MiscBgL-container {
  left: 0;
  align-items: flex-start;
  justify-content: space-evenly;
}
/* .MiscBgR2 {
  align-self: center;
}
.MiscBgR3 {
  bottom: 39rem;
}
.MiscBgL,
.MiscBgL2 {
  position: absolute;
  z-index: 1;
  left: 0;
}
.MiscBgL {
  top: 50rem;
}
.MiscBgL2 {
  bottom: 20rem;
} */
@media screen and (width <= 425px) {
  .Misc-sectionTitle {
    font-size: 1.2rem;
  }
}
@media screen and (width <= 576px) {
  .MiscBgR,
  .MiscBgR2,
  .MiscBgR3,
  .MiscBgL,
  .MiscBgL2 {
    width: 32.5%;
  }
}
