.Misc-sectionTitle {
  color: #de211e;
  text-align: center;
  font-family: "MontserratBold";
  font-size: 0.9375rem;
  text-align: right;
  margin-bottom: 1.25rem;
}
.Misc-MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: 2;
}
.section1-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  row-gap: 2.1rem;
  column-gap: 10%;
  width: 100%;
}
.Misc1 {
  grid-row: 1;
  grid-column: span 2;
  z-index: 2;
  width: 100%;
}
.Misc2,
.Misc3 {
  grid-column: 1;
  width: 100%;
}
.Misc4,
.Misc5 {
  grid-column: 2;
  width: 100%;
}
.Misc2,
.Misc4 {
  grid-row: 2;
}
.Misc3,
.Misc5 {
  grid-row: 3;
}
.Misc-section2,
.Misc-section3 {
  width: 100%;
  margin-top: 6%;
}
.Misc-subContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  width: 100%;
}
.Misc {
  width: 100%;
}
.Miscsc {
  width: 48%;
}
.Misc14 {
  margin-top: 3.125rem;
  width: 100%;
}

/*imgBG*/
.MiscBgR-container,
.MiscBgL-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.MiscBgR-container {
  right: 0;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 24%;
}
.MiscBgL-container {
  left: 0;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 87%;
}
.MiscBgR,
.MiscBgR2,
.MiscBgR3,
.MiscBgL,
.MiscBgL2 {
  width: 18.5%;
}
.MiscBgR2 {
  margin-top: 69%;
}
.MiscBgR3 {
  margin-top: 100%;
}
.MiscBgL2 {
  margin-top: 97%;
}
@media screen and (width <= 768px) {
  .Misc-sectionTitle {
    font-size: 1.2rem;
  }
}
@media screen and (768px <= width <= 1024px) {
 .Misc-sectionTitle {
    font-size: 0.7rem;
  }
  .Misc-subContainer {
    margin-top: 4%;
  }
}
@media screen and (1024px <= width <= 1200px) {
  .Misc-sectionTitle {
     font-size: 0.8rem;
   }
   .Misc-subContainer {
    margin-top: 4%;
  }
 }
 @media screen and (width > 1200px) {
  .Misc-sectionTitle {
     font-size: 0.92rem;
   }
   .Misc-subContainer {
    margin-top: 4%;
  }
 }