.Moreno1,
.Moreno4 {
  grid-column: span 2;
  width: 100%;
}
.Moreno1 {
  grid-row: 1;
}
.Moreno3,
.Moreno2 {
  position: relative;
}
.Moreno2 {
  grid-row: 2;
  width: 127%;
  grid-column: 1;
}
.Moreno3 {
  grid-column: 2;
  grid-row: 2;
  width: 158%;
  margin-left: 8%;
}
/*Animación cuenta regresiva*/
.countdown-container {
  z-index: 2;
  position: absolute;
  width: 2%;
  height: 0.62%;
  top: 37.5%;
  right: 33.3%;
}
.countdown-text {
  font-family: "FraktionSansLight";
  color: #fff;
  font-size: 0.28em;
  letter-spacing: -0.0814rem;
  line-height: 86.1%;
}
/*Nmp animation*/
.Nmp-AnimationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36% 36%;
  gap: 1.4rem;
  width: 66%;
  margin-top: -125%;
  justify-content: center;
}
.Envelope {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 3;
  width: 100%;
}
@media screen and (375px <= width <= 425px) {
  .countdown-container {
    top: 36.3%;
  }
}
@media screen and (425px <= width <= 768px) {
  .countdown-container {
    top: 37%;
  }
}
@media screen and (768px <= width <= 1024px) {
  .countdown-text {
    font-size: 0.6em;
  }
  .countdown-container {
    right: 34%;
    top: 36.9%;
  }
}
@media screen and (1024px <= width <= 1200px) {
  .countdown-text {
    font-size: 0.74em;
  }
  .countdown-container {
    right: 34%;
    top: 36.1%;
  }
}
@media screen and (width > 1200px) {
  .countdown-text {
    font-size: 0.91em;
  }
  .countdown-container {
    right: 34%;
    top: 38%;
  }
}
