.Moreno1,
.Moreno4 {
  grid-column: span 2;
  width: 100%;
}
.Moreno1 {
  grid-row: 1;
}
.Moreno2-container {
  grid-row: 2;
}
.Moreno2-container2 {
  grid-column: 1;
  justify-self: center;
}
.Moreno3,
.Moreno2 {
  position: relative;
}
.Moreno3 {
  margin-left: -8.2rem;
}
/*Animación cuenta regresiva*/
.countdown-container {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  position: relative;
  width: 100%;
}
.countdown-Animacontainer {
  position: absolute;
  z-index: 3;
  top: 3.5rem;
  left: 15rem;
}
.countdown-text {
  font-family: "FraktionSansLight";
  color: #fff;
  font-size: 1.625rem;
  letter-spacing: -0.0814rem;
  line-height: 86.1%;
}
.Nmp-AnimationContainer {
  display: grid;
  grid-template-columns: 10.7rem 10.7rem;
  grid-template-rows: auto 13.98rem;
  gap: 1.4rem;
  width: 100%;
  margin-top: -35.2rem;
  justify-content: center;
}
.Envelope {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 3;
  width: 103%;
  margin-left: -0.36rem;
}
@media screen and (width <= 425px) {
  .Moreno2 {
    width: 130%;
  }
  .Moreno3 {
    width: 161.5%;
  }
  .Moreno2 {
    margin-left: -5rem;
  }
  .Nmp-AnimationContainer {
    margin-left: 0.25rem;
  }
}
@media screen and (425px < width <= 576px) {
  .Moreno2 {
    width: 130%;
    margin-left: -5rem;
  }
  .Moreno3 {
    width: 161%;
  }
  .Nmp-AnimationContainer {
    margin-left: 0.25rem;
  }
}
@media screen and (576px < width <= 1200px) {
  .Moreno2 {
    width: 129.8%;
  }
  .Moreno3 {
    width: 161.5%;
  }
  .Moreno2 {
    margin-left: -5rem;
  }
  .Nmp-AnimationContainer {
    margin-left: 0.25rem;
  }
}
