.Header-container {
  z-index: 50;
  width: 100%;
  display: flex;
  align-items: center;
  height: 6.25rem;
  position: fixed;
  background-color: #f8f4ef;
  background-blend-mode: overlay;
  background-image: url("../assets/img/BG/TextureNavBar.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.95rem;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 1.5% 0 1.5% 3%;
  position: fixed;
  top: 0;
  transition: backdrop-filter 0.3s ease;
}
.Header-container.blur {
  background: rgba(248, 244, 239, 0.9);
  backdrop-filter: blur(2px);
}
.logo-container {
  width: 11%;
}
.nav-link.logo {
  font-style: italic;
  color: #e52421;
}
.navbar-menu {
  display: none;
}
.nav-item {
  margin-right: 8%;
}
.nav-menu {
  display: flex;
  justify-content: center;
  margin-left: 29%;
  width: 100%;
}
.nav-link {
  color: #3a3a39;
}
.nav-link:hover {
  color: #e52421;
}
/*medias query*/
@media screen and (width <= 425px) {
  .navbar {
    font-size: 1.5rem;
    width: 89%;
  }
  .nav-menu {
    margin-left: 6%;
  }
  .logo-container {
    width: 13%;
  }
}
@media screen and (425px < width <= 576px) {
  .Header-container.blur .navbar {
    width: 90%;
  }
  .navbar {
    width: 90%;
    font-size: 1.5rem;
  }
  .nav-menu {
    margin-left: 9%;
  }
  .logo-container {
    width: 14%;
  }
}
@media screen and (576px < width <= 768px) {
  .navbar {
    font-size: 1.5rem;
    width: 95%;
  }
  .logo-container {
    width: 15%;
  }
  .nav-menu {
    margin-left: 20%;
  }
}
@media screen and (768px < width <= 1024px) {
  .navbar {
    font-size: 1.4rem;
    width: 95%;
  }
  .logo-container {
    width: 15%;
  }
  .nav-menu {
    margin-left: 20%;
  }
}