.Header-container {
  z-index: 50;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 6.25rem;
  position: fixed;
  background-image: url("../assets/img/BG/TextureNavBar.svg");
}

.navbar {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.95em;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 1.5% 0 1.5% 3%;
  position: fixed;
  top: 0;
  transition: backdrop-filter 0.3s ease;
}
.Header-container.blur {
  background: rgba(248, 244, 239, 0.90);
  backdrop-filter: blur(2px);
}
.logo-container {
  width: 11%;
}
.nav-link.logo {
  font-style: italic;
  color: #e52421;
}
.navbar-menu {
  display: none;
}
.nav-item {
  margin-right: 8%;
}
.nav-menu {
  display: flex;
  justify-content: center;
  margin-left: 29%;
  width: 100%;
}
.nav-link {
  color: #3a3a39;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    z-index: 9999;
    position: absolute;
    top: 10%;
    right: 0%;
    width: 60%;
    border-radius: 1.25rem;
    background-color: #e2e2e2;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.0625rem;
    border: #333;
    border-radius: 0.3125rem;
    border-style: solid;
    margin-left: 0.1875rem;
  }
}
