.Opame1,
.Opame6 {
  grid-column: span 2;
  width: 100%;
}
.Opame1 {
  grid-row: 1;
  z-index: 2;
}
.Opame2,
.Opame7,
.Opamecel1,
.Opamecel2 {
  grid-column: 1;
}
.Opame2 {
  grid-row: 2 / span 2;
  width: 100%;
  z-index: 2;
}
.Opame3,
.Opame4,
.Opame5,
.Opamecel3,
.Opamecel4 {
  grid-column: 2;
}
.Opame3,
.Opamecel1,
.Opamecel2,
.Opamecel3 {
  grid-row: 2;
}
.Opame4,
.Opamecel4 {
  grid-row: 3;
}
.Opame5,
.Opame7 {
  grid-row: 4;
  width: 100%;
}
.Opame3 {
  width: 100%;
}
.Opame4 {
  margin-top: -5%;
  width: 100%;
}
.Opame5 {
  margin-top: -33%;
}
.Opame6 {
  grid-row: 5;
  margin-top: -2rem;
  width: 100%;
}
.Opame7 {
  margin-top: -2rem;
}
.Opamecel3,
.Opamecel4 {
  z-index: 3;
  width: 31%;
}
.Opamecel1,
.Opamecel2 {
  z-index: 3;
  width: 31%;
  height: 34%;
}
.Opamecel1 {
  justify-self: end;
  align-self: start;
  margin-right: -12%;
  margin-top: -15%;
}
.Opamecel2 {
  justify-self: start;
  align-self: center;
  margin-left: -21%;
  margin-top: 72%;
}
.Opamecel3 {
  justify-self: start;
  align-self: center;
  margin-left: -18%;
  margin-top: 15%;
  height: 34%;
}
.Opamecel4 {
  justify-self: end;
  align-self: start;
  margin-right: -4rem;
  margin-top: 1rem;
  height: 92.3%;
}
/*imgBg*/
.Work-OpameContainer .eclipse {
  position: absolute;
  right: 0;
  top: -23%;
  align-self: center;
  z-index: 1;
  width: 50%;
}
.OpameBgR {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 11%;
  width: 32.5%;
}
.OpameBgL {
  position: absolute;
  left: 0;
  z-index: 1;
  bottom: 17%;
  width: 32.5%;
}
@media screen and (768px > width <= 1024px) {
  .Opamecel1,
  .Opamecel2,
  .Opamecel3 {
    width: 23.5%;
    height: 24.91%;
  }
  .Opamecel1 {
    margin-right: -9%;
    margin-top: -7%;
  }
  .Opamecel2 {
    margin-left: -12%;
    margin-top: 50%;
  }
  .Opamecel3 {
    margin-left: -11%;
    margin-top: -5%;
  }
  .Opamecel4 {
    width: 23.5%;
    height: 77.8%;
    margin-right: -3rem;
    margin-top: 2rem;
  }
}
@media screen and (1024px > width <= 1200px) {
  .Opamecel1,
  .Opamecel2,
  .Opamecel3 {
    width: 23.5%;
    height: 24.91%;
  }
  .Opamecel1 {
    margin-right: -9%;
    margin-top: -5%;
  }
  .Opamecel2 {
    margin-left: -12%;
    margin-top: 50%;
  }
  .Opamecel3 {
    margin-left: -11%;
    margin-top: -5%;
  }
  .Opamecel4 {
    width: 23.5%;
    height: 77.8%;
    margin-right: -3rem;
    margin-top: 2.6rem;
  }
}
@media screen and ( width > 1200px) {
  .Opamecel1,
  .Opamecel2,
  .Opamecel3 {
    width: 23.5%;
    height: 24.91%;
  }
  .Opamecel1 {
    margin-right: -9%;
    margin-top: -7%;
  }
  .Opamecel2 {
    margin-left: -12%;
    margin-top: 50%;
  }
  .Opamecel3 {
    margin-left: -11%;
    margin-top: -5%;
  }
  .Opamecel4 {
    width: 23.5%;
    height: 77.8%;
    margin-right: -3rem;
    margin-top: 2.3rem;
  }
}
