.Photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 26.25rem);
  grid-auto-rows: auto;
  gap: 2.5rem;
  justify-content: center;
}
.Photo-item1,
.Photo-item2,
.Photo-item3 {
  grid-row: 1;
}
.Photo-item1,
.Photo-item4, .Photos-c {
  grid-column: 1;
}
.Photo-item2,
.Photo-item5, .Photos-d {
  grid-column: 2;
}
.Photo-item3,
.Photo-item6, .Photos-e {
  grid-column: 3;
}
.Photo-item4,
.Photo-item5,
.Photo-item6 {
  grid-row: 2;
}
.Photo-item7,
.Photo-item8 {
  grid-row: 3;
}
.Photo-item7 {
  grid-column: 1 / span 2;
}
.Photo-item8 {
  grid-column: 3;
}
.Photo-item4,
.Photo-item6 {
  margin-top: -20rem;
}
.Photos-c, .Photos-d, .Photos-e {
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 19.8125rem;
}