.Photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: auto;
  column-gap: 2%;
  row-gap: 1rem;
  justify-content: center;
}
.photo-cont1,
.photo-cont2,
.photo-cont3 {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.photo-cont1,
.Photos-c {
  grid-column: 1;
  width: 100%;
}
.photo-cont2,
.Photos-d {
  grid-column: 2;
  width: 100%;
}
.photo-cont3,
.Photos-e {
  grid-column: 3;
  width: 100%;
}
.Photo-item7,
.Photo-item8 {
  grid-row: 3;
  width: 100%;
}
.Photo-item7 {
  grid-column: 1 / span 2;
}
.Photo-item8 {
  grid-column: 3;
}
.Photos-c,
.Photos-d,
.Photos-e {
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 19.8125rem;
}
.Photos-grid img {
  width: 100%;
}