/*Layout*/
/*Work Container*/
.Work-container {
  width: 100%;
  height: 62.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../assets/img/BG/Line.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
}
.Work-TitleContainer {
  display: flex;
  width: 56.875rem;
  align-items: baseline;
  margin-bottom: 5.9375rem;
  justify-content: center;
}
.Work-asterisk {
  width: 5.4375rem;
  margin-top: -1.5rem;
}
/*imgBG*/
.WorkRightBG {
  position: absolute;
  top: -18.75rem;
  right: 0;
}
.WorkLeft {
  position: absolute;
  left: 0;
  top: -18.75rem;
}
/*Work MainList section*/
.Work-ListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.Work-ListRow1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5rem;
  width: 85%;
}
.Work-ListRow2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-items: stretch;
  justify-content: center;
}
.Work-ItemLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Work-ListItem a.Work-ItemLink[href="/#frog"] .Work-ItemText {
  margin-left: -0.6rem;
}
.Work-ItemText {
  margin-left: -0.8rem;
  margin-bottom: 0.6rem;
}

/*animación*/
.Work-ItemNumber,
.Work-ItemText {
  transition: transform 2s cubic-bezier(0.21, 0.87, 0.35, 1);
}
.Work-ItemLink:hover .Work-ItemText {
  transform: translateX(10%);
}
.Work-ItemLink:hover .Work-ItemNumber {
  transform: translateX(-10%);
}
.Work-ItemText:hover {
  color: #e52421;
}
/*Work Individuals Titles and containers*/
.WorkIndividualphoto-container {
  display: grid;
  grid-template-columns: 31.3125rem 31.25rem;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  grid-gap: 3.875rem 5rem;
  margin-top: 6.125rem;
  justify-content: center;
  justify-items: center;
}
.Work-FrogContainer,
.Work-EstudioContainer,
.Work-MorenoContainer,
.Work-OpameContainer,
.Work-MichiContainer,
.Work-BrokeContainer,
.Work-KpContainer,
.Work-LogofolioContainer,
.Work-MiscContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-position: top center;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
}
.Work-FrogContainer {
  background-image: url("../assets/img/BG/FrogBg.svg");
}
.Work-EstudioContainer {
  background-image: url("../assets/img/BG/EstudioBg.svg");
}
.Work-MorenoContainer {
  background-image: url("../assets/img/BG/PedrazaBg.svg");
}
.Work-OpameContainer {
  background-image: url("../assets/img/BG/MichiBg.svg");
}
.Work-MichiContainer {
  background-image: url("../assets/img/BG/MichiBg.svg");
}
.Work-BrokeContainer {
  background-image: url("../assets/img/BG/BrokeBg.svg");
}
.Work-KpContainer {
  background-image: url("../assets/img/BG/KpBg.svg");
}
.Work-LogofolioContainer {
  background-image: url("../assets/img/BG/LogofolioBg.svg");
}
.Work-MiscContainer {
  background-image: url("../assets/img/BG/MiscBg.svg");
}
.Work-TitleIndividual {
  display: grid;
  grid-template-rows: 8.4375rem 4.5rem auto;
  grid-template-columns: 10.5625rem 79.5rem 10.5625rem;
  width: 100%;
  height: 20%;
  margin-top: 6.75rem;
  margin-bottom: 3.6875rem;
  position: relative;
  align-items: center;
  justify-content: center;
}
.Work-TitleIndivContainer {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
}
.Work-TitleIndivContainer .Work-TextIndividual {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  z-index: 2;
  position: sticky;
  margin-bottom: 1.8rem;
  opacity: 0.9;
}
.Work-TitleIndivContainer .Work-NumberIndividual {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin-right: -1.7rem;
  justify-self: right;
  opacity: 1;
}
.Work-EstudioContainer .Work-NumberIndividual {
  margin-right: -3.6rem;
}
.Work-MorenoContainer .Work-NumberIndividual {
  margin-right: -2.4rem;
}
.Work-OpameContainer .Work-NumberIndividual {
  margin-right: -2.6rem;
}
.Work-MichiContainer .Work-NumberIndividual {
  margin-right: -2.1rem;
}
.Work-BrokeContainer .Work-NumberIndividual {
  margin-right: -2.7rem;
}
.Work-KpContainer .Work-NumberIndividual {
  margin-right: -2.2rem;
  margin-bottom: -1rem;
}
.Work-LogofolioContainer .Work-NumberIndividual {
  margin-right: -2.8rem;
  margin-bottom: -1.1rem;
}
.Work-MiscContainer .Work-NumberIndividual {
  margin-right: -2.7rem;
}
.Next {
  grid-column: 3;
}
.Prev {
  grid-column: 1;
  justify-self: flex-start;
}
.Prev,
.Next {
  grid-row: 1;
  z-index: 10;
  position: sticky;
  top: 0;
}
.Work-DescriptionContainer {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  position: sticky;
}
.WorkTitleDate {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  position: sticky;
  margin-top: 2.5rem;
}

/*Fonts*/
.Work-mainTitle {
  font-size: 11.25rem;
  text-decoration: underline;
  line-height: 1.1;
  text-decoration-thickness: 0.5rem;
  margin: 0;
  text-align: center;
  position: relative;
  height: 25.8125rem;
  width: 51.875rem;
  display: flex;
  align-items: center;
}

/*Titles*/
.Work-ItemNumber,
.Work-NumberIndividual,
.WorkTitleDate,
.Work-mainTitle {
  color: #e52421;
}
.Work-ItemNumber,
.Work-NumberIndividual {
  font-family: "Magilio";
}
.Work-ItemNumber {
  font-size: 5rem;
}
.Work-ItemText,
.Work-TextIndividual,
.Work-mainTitle {
  font-family: "PP-HattonBold";
}
.Work-ItemText,
.Work-TextIndividual {
  color: #3a3a39;
}
.WorkTitleDescription {
  color: #000000;
}
.Work-ItemText,
.WorkTitleDescription {
  font-size: 1.25rem;
}
.Work-NumberIndividual {
  font-size: 15.625rem;
}
.Work-TextIndividual {
  font-size: 5rem;
}
.WorkTitleDescription {
  font-family: "Montserrat-Light";
}
.WorkTitleDate {
  font-family: "Montserrat";
  font-size: 0.9375rem;
}

li {
  list-style-type: none;
}
/*media query*/
@media screen and (width <= 576px) {
  .Work-container{
    background-size: 5.5%;
  }
  .WorkRightBG {
    width: 32.5%;
  }
  .WorkLeft {
    width: 50%;
  }
  .Work-FrogContainer, .Work-EstudioContainer, .Work-MiscContainer {
  }
}