/*Layout*/
/*Work Container*/
.Work-container {
  width: 100%;
  height: 105.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  position: relative;
}
.Work-TitleContainer {
  display: flex;
  width: 56.875rem;
  align-items: baseline;
  margin-bottom: 5.9375rem;
}
.Work-asterisk {
  width: 5.4375rem;
  margin-right: -4rem;
  margin-top: -1.5rem;
}
/*Work MainList section*/
.Work-ListRow1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5rem;
  width: 85%;
}
.Work-ListRow2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-items: stretch;
  justify-content: center;
}
.Work-ItemLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Work-ItemText {
  margin-left: -0.8rem;
  margin-bottom: 0.6rem;
}
/*animación*/
.Work-ItemNumber,
.Work-ItemText {
  transition: transform 2s cubic-bezier(0.21, 0.87, 0.35, 1);
}
.Work-ItemNumber:hover,
.Work-ItemText:hover {
  transform: translateX(10%);
}
.Work-ItemText:hover {
  color: #e52421;
}
/*Work Individuals containers*/
.WorkIndividualphoto-container {
  display: grid;
  grid-template-columns: 31.3125rem 31.25rem;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  grid-gap: 3.875rem 5rem;
  margin-top: 6.125rem;
  justify-content: center;
}
.Work-FrogContainer,
.Work-EstudioContainer,
.Work-MorenoContainer,
.Work-OpameContainer,
.Work-MichiContainer,
.Work-BrokeContainer,
.Work-KpContainer, .Work-LogofolioContainer, .Work-MiscContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-position: top center;
  background-repeat: no-repeat;
  align-items: center;
}
.Work-FrogContainer {
  background-image: url("../assets/img/BG/FrogBg.svg");
}
.Work-EstudioContainer {
  background-image: url("../assets/img/BG/EstudioBg.svg");
}
.Work-MorenoContainer {
  background-image: url("../assets/img/BG/PedrazaBg.svg");
}
.Work-OpameContainer {
  background-image: url("../assets/img/BG/MichiBg.svg");
}
.Work-MichiContainer {
  background-image: url("../assets/img/BG/MichiBg.svg");
}
.Work-BrokeContainer {
  background-image: url("../assets/img/BG/BrokeBg.svg");
}
.Work-KpContainer {
  background-image: url("../assets/img/BG/KpBg.svg");
}
.Work-LogofolioContainer {
  background-image: url("../assets/img/BG/LogofolioBg.svg");
}
.Work-MiscContainer {
  background-image: url("../assets/img/BG/MiscBg.svg");
}
/*Work Titles individuals*/
.Work-PrevNext {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 80%;
}
.Work-TitleIndvidual {
  display: grid;
  grid-template-rows: 15.625rem 4.5rem auto;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 20%;
  margin-top: 1.75rem;
  margin-bottom: 3.6875rem;
}
.Work-NumberIndividual {
  grid-row: 1;
  align-self: baseline;
  z-index: 1;
}
.Work-TextIndividual {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  margin-left: -1.875rem;
  z-index: 2;
}
.Work-DescriptionContainer {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -3.125rem;
}
.WorkTitleDate {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}

/*Fonts*/
.Work-mainTitle {
  font-family: "PP-Hatton";
  font-size: 11.25rem;
  text-decoration: underline;
  color: #e52421;
  line-height: 1;
  text-decoration-thickness: 0.5rem;
  margin: 0;
  text-align: center;
  position: relative;
  height: 25.8125rem;
  width: 51.875rem;
  display: flex;
  align-items: center;
}

/*Titles*/
.Work-ItemNumber,
.Work-NumberIndividual,
.WorkTitleDate {
  color: #e52421;
}
.Work-ItemNumber,
.Work-NumberIndividual {
  font-family: "Magilio";
}
.Work-ItemNumber {
  font-size: 5rem;
}
.Work-TextIndividual {
  font-family: "PP-Hatton";
}
.Work-ItemText {
  font-family: "PP-HattonBold";
}
.Work-ItemText,
.Work-TextIndividual,
.WorkTitleDescription {
  color: #3a3a39;
}
.Work-ItemText,
.WorkTitleDescription {
  font-size: 1.25rem;
}
.Work-NumberIndividual {
  font-size: 15.625rem;
}
.Work-TextIndividual {
  font-size: 5rem;
}
.WorkTitleDescription {
  font-family: "Montserrat-Light";
}
.WorkTitleDate {
  font-family: "Montserrat";
}

li {
  list-style-type: none;
}

