/*Layout*/
.Work-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  position: relative;
}
.Work-TitleContainer {
  display: flex;
  width: 47.4%;
  align-items: baseline;
  margin-bottom: 7%;
}
.Work-asterisk {
  width: 100%;
}
.Work-ListRow1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5rem;
  width: 85%;
}
.Work-ListRow2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5.5rem;
  column-gap: 3rem;
  justify-items: stretch;
  justify-content: center;
}
.Work-componentTitle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 80%;
}
/* .Work-TitleIndvidual {
  top: 50%;
} */
/*Fonts*/
.Work-mainTitle {
  font-family: "PP-Hatton";
  font-size: 11.25rem;
  font-weight: normal;
  text-decoration: underline;
  color: #e52421;
  line-height: 1;
  margin: 0;
  text-align: center;
}

/*Titles*/
.Work-ItemNumber,
.Work-NumberIndividual,
.WorkTitleDate {
  color: #e52421;
}
.Work-ItemNumber,
.Work-NumberIndividual {
  font-family: "Magilio";
}
.Work-ItemNumber {
  font-size: 80px;
}
.Work-ItemText,
.Work-TextIndividual {
  font-family: "PP-Hatton";
}
.Work-ItemText,
.Work-TextIndividual,
.WorkTitleDescription {
  color: #3a3a39;
}
.Work-ItemText,
.WorkTitleDescription {
  font-size: 20px;
}
.Work-NumberIndividual {
  font-size: 250px;
}
.Work-TextIndividual {
  font-size: 80px;
}
.WorkTitleDescription {
  font-family: "Montserrat-Light";
}
.WorkTitleDate {
  font-family: "Montserrat";
}
.WorkTitle-maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.WorkTitle-container {
  display: flex;
  align-items: center;
  width: 100%;
}
li {
  list-style-type: none;
}
