/*Contenedor de Animaciones*/
.Estudio-AnimationContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid #222222 0.36rem;
  background-color: #ffffff;
  border-radius: 1.06rem;
}
.Estudio-AnimationContainer > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Estudio1*/
.animated-imageEstudio1 {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  overflow: hidden;
}
.sillon {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.7469rem;
  border-top-right-radius: 0.7469rem;
  position: relative;
  z-index: 4;
}
.sillonHeader {
  left: 0;
  position: absolute;
  z-index: 5;
  width: 0.5625rem;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
}
.background-sillonBanner {
  background: rgba(237, 237, 237, 0.8);
  backdrop-filter: blur(4.899665832519531px);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.7469rem;
  z-index: 5;
  overflow: hidden;
}
.sillonBanner {
  height: auto;
  border-bottom-left-radius: 0.7469rem;
  border-bottom-right-radius: 0.7469rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
}
/*Estudio2*/
.animated-imageEstudio2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img.animated-Estudio2image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.06rem;
  z-index: 6;
  top: 0;
  left: 0;
  object-fit: fill;
}
/*Estudio3*/
.background-sillonFinal {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.7469rem;
  z-index: 5;
  overflow: hidden;
}
@media screen and (width <= 576px) {
  .Estudio-AnimationContainer {
    width: 7.3rem;
    height: 16.1rem;
  }
  .sillon {
    width: 7.4rem;
    height: 14rem;
  }
  .background-sillonBanner {
    height: 10.45rem;
  }
}
